#nav-bar .header {
    float: left;
    line-height: 2.5;
    font-size: 200%;
}

#nav-bar .logo {
    width: 80px;
    height: 80px;
    float: left;
}

#nav-bar {
    background-color: #A2D00A;
    color: #e8fdff;
    height: 80px;
    margin-left: 0px;
    padding-left: 2em;
    padding-right: 2em;
}

#composeHeader {
    float: right;
    padding: 20px;
    margin-top: 9px;
    margin-right: 3em;
    border-radius: 15px;
    border: 2px solid white;
    background-color: seagreen;
    color: white;
}

#composeHeader:hover {
    background-color: #ABFBCA;
    border-color: black;
    color: black;
}  

main.container {
    width: 450px;
    background-color: white;
    margin: 0 auto;
    padding: 15px;
    
}