#new-tweet section {
    padding: 8px;
}

 h2 {
    padding-left: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
}

textarea {
    padding-left: 10px;
    margin-top: 10px;
    width: 100%;
    margin-right: 0px;
}

input {
    float: right;
}

